<%= form_for @device, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :property_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :devinfo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :devinfo_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :label, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :label, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rental_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rental_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :return_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :return_date, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                devices_path, :class => 'btn' %>
  </div>
<% end %>
