<%= form_for @device, :html => { :class => 'form-horizontal' } do |f| %>
  <%# デバイス名の登録 %>
  <div class="control-group">
    <%= f.label :デバイス名, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :name, [["Mac Book Air", "Mac Book Air"], ["Mac Book Pro", "Mac Book Pro"]] , :class => 'text_field' %>
    </div>
  </div>

  <%# 資産管理IDの登録 %>
  <div class="control-group">
    <%= f.label :資産管理ID, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :property_id, :class => 'text_field' %>
    </div>
  </div>

  <%# 情報機器・識別IDの登録 %>
  <div class="control-group">
    <%= f.label :情報機器・識別ID, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :devinfo_id, :class => 'text_field' %>
    </div>
  </div>

  <%# ラベルの登録 %>
  <div class="control-group">
    <%= f.label :ラベル, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :label, :class => 'check_box' %>
    </div>
  </div>

  <%# ユーザ名の登録 %>
  <div class="control-group">
    <%= f.label :ユーザ名, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_name, :class => 'text_field' %>
    </div>
  </div>

  <%# 購入日の登録 %>
  <div class="control-group">
    <%= f.label :購入日, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :acquisition_date, :class => 'date_field' %>
    </div>
  </div>

  <%# 貸出日の登録 %>
  <div class="control-group">
    <%= f.label :貸出日, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :rental_date, :class => 'date_field' %>
    </div>
  </div>

  <%# 返却日の登録 %>
  <div class="control-group">
    <%= f.label :返却日, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :return_date, :class => 'date_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                devices_path, :class => 'btn' %>
  </div>
<% end %>
