<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Property</th>
      <th>Devinfo</th>
      <th>Label</th>
      <th>User name</th>
      <th>Rental date</th>
      <th>Return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.property_id %></td>
        <td><%= device.devinfo_id %></td>
        <td><%= device.label %></td>
        <td><%= device.user_name %></td>
        <td><%= device.rental_date %></td>
        <td><%= device.return_date %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
